#!/bin/bash
scenario=$1
segment=$2
tempdir=$3
echo "tempdir set as $tempdir"

IFS='_' read sta_id riverseg <<< "$segment"
echo "Making model ${segment} for gage $sta_id and segment $riverseg"
ftype=`cbp get_config $scenario script RIVER_FTYPE`
hydrocode_prefix=`cbp get_config $scenario script RIVER_PREFIX`
hydrocode="${hydrocode_prefix}${riverseg}"
USGS_DATA_DIR=`cbp get_config $scenario script USGS_DATA_DIR`
USGS_MODEL_CODE=`cbp get_config $scenario script USGS_MODEL_CODE`
MODEL_VERSION_CODE=`cbp get_config $scenario script MODEL_VERSION_CODE`
START_DATE=`cbp get_config $scenario script START_DATE`
END_DATE=`cbp get_config $scenario script END_DATE`
gfm_scr="$META_MODEL_ROOT/scripts/rest/get_feature_model.R"
# this routine will create or retrieve the USGS model if it already exists
usgs_pid=`Rscript $gfm_scr $hydrocode $USGS_MODEL_CODE watershed $ftype`
usgs_out_file="${USGS_DATA_DIR}/$scenario/${segment}.out"
export sta_id riverseg scenario segment tempdir START_DATE END_DATE usgs_out_file
export ftype hydrocode USGS_MODEL_CODE MODEL_VERSION_CODE usgs_pid USGS_DATA_DIR
