#!/bin/bash
scenario=$1
segment=$2
tempdir=$3

IFS='_' read sta_id riverseg <<< "$segment"
echo "Making model ${segment} for gage $sta_id and segment $riverseg"
ftype=`cbp get_config $scenario script RIVER_FTYPE`
hydrocode_prefix=`cbp get_config $scenario script RIVER_PREFIX`
hydrocode="${hydrocode_prefix}${riverseg}"
USGS_MODEL_CODE=`cbp get_config $scenario script USGS_MODEL_CODE`
MODEL_VERSION_CODE=`cbp get_config $scenario script MODEL_VERSION_CODE`
gfm_scr="$META_MODEL_ROOT/scripts/rest/get_feature_model.R"
# this routine will create or retrieve the USGS model if it already exists
usgs_pid=`Rscript $gfm_scr $hydrocode $USGS_MODEL_CODE watershed $ftype`

export sta_id riverseg scenario segment tempdir
export ftype hydrocode USGS_MODEL_CODE MODEL_VERSION_CODE usgs_pid