#!/bin/bash
if [ -z "$scenario" ]; then 
   # try to get from cmd args
   scenario=$1
   coverage=$2
   tempdir=$3
fi
export scenario coverage tempdir
if [ -z "$scenario" ]; then 
  echo "Error: missing Arguments."
  echo "Script must be called as: 'script_name scenario coverage[=all] [temp dir]'"
  yr=`date +'%Y'`
  echo "Ex: $0 drought 02031000"
  exit
fi
# create temp dir
if [ ! -d "$tempdir" ]; then
  mkdir $tempdir
fi

cd $tempdir
# TODO: set up relevant config info here
# MODEL_VERSION_CODE=`cbp get_config $scenario met MODEL_VERSION_CODE`
SITE_URL=`cbp get_config $scenario script SITE_URL`
USGS_DATA_DIR=`cbp get_config $scenario script USGS_DATA_DIR`
COVERAGE_FLOW_FILE="$USGS_DATA_DIR/agws/${coverage}-flow.csv"
export coverage scenario
