#!/bin/bash
if [ -z "$region" ]; then 
   # try to get from cmd args
   region=$1
   year=$2
   tempdir=$3
fi
export scenario coverage tempdir
if [ -z "$year" ]; then 
  echo "Error: missing Arguments."
  echo "Script must be called as: 'script_name scenario year [temp dir]'"
  echo "Scenario gives the gages in the region desired."
  yr=`date +'%Y'`
  echo "Ex: $0 roanoke $yr "
  exit
fi
# create temp dir
if [ ! -d "$tempdir" ]; then
  mkdir $tempdir
fi

cd $tempdir
# TODO: set up relevant config info here
# MODEL_VERSION_CODE=`cbp get_config $scenario met MODEL_VERSION_CODE`

echo "Drought response config called with region $region and yeaer $year"
