#!/bin/bash
if [ -z "$scenario" ]; then 
   # try to get from cmd args
   scenario=$1
   gage=$2
   tempdir=$3
fi
export scenario coverage tempdir
if [ -z "$gage" ]; then 
  echo "Error: missing Arguments."
  echo "Script must be called as: 'script_name scenario gage [temp dir]'"
  echo "Scenario may supply date and other config info for the gage desired."
  yr=`date +'%Y'`
  echo "Ex: $0 norain_roanoke 02071000 "
  exit
fi
# create temp dir
if [ ! -d "$tempdir" ]; then
  mkdir $tempdir
fi

cd $tempdir
# TODO: set up relevant config info here
# MODEL_VERSION_CODE=`cbp get_config $scenario met MODEL_VERSION_CODE`
#echo "Drought response config called with scenario $scenario and gage $gage"
USGS_DATA_DIR=`cbp get_config $scenario script USGS_DATA_DIR`
# since we are doing a batch of gages at once and that list is set by scenario conf
# we submit a separate name for the scenaroip property to unify them in a single
# metric grid scenario
SCENARIO_NAME=`cbp get_config $scenario script SCENARIO_NAME`
FILE_PREFIX=`cbp get_config $scenario script FILE_PREFIX`
START_DATE=`cbp get_config $scenario script START_DATE`
# we have 3 modes, one where we just run a single gage, another where w/a batch from config
GAGE=$gage
#echo "Calling: GAGES='cbp get_config $scenario script GAGES'"
GAGES=`cbp get_config $scenario script GAGES`
MODE=`cbp get_config $scenario script MODE`
if [ "$MODE" == "batch" ]; then
  GAGE=$GAGES
fi
export GAGE
