#!/bin/bash
if [ -z "$scenario" ]; then 
   # try to get from cmd args
   scenario=$1
   year=$2
   tempdir=$3
fi
export scenario coverage tempdir
if [ -z "$year" ]; then 
  echo "Error: missing Arguments."
  echo "Script must be called as: 'script_name scenario year [temp dir]'"
  echo "Scenario gives the gages in the region desired."
  yr=`date +'%Y'`
  echo "Ex: $0 roanoke $yr "
  exit
fi
# create temp dir
if [ ! -d "$tempdir" ]; then
  mkdir $tempdir
fi

cd $tempdir
# TODO: set up relevant config info here
# MODEL_VERSION_CODE=`cbp get_config $scenario met MODEL_VERSION_CODE`
#echo "Calling: GAGES='cbp get_config $scenario script GAGES'"
GAGES=`cbp get_config $scenario script GAGES`
#echo "Drought response config called with scenario $scenario and year $year"
USGS_DATA_DIR=`cbp get_config $scenario script USGS_DATA_DIR`
# since we are doing a batch of gages at once and that list is set by scenario conf
# we submit a separate name for the scenaroip property to unify them in a single
# metric grid scenario
SCENARIO_NAME=`cbp get_config $scenario script SCENARIO_NAME`
