#!/bin/bash
scenario=$1
segment=$2
tempdir=$3
if [ ! -d $tempdir ]; then
  mkdir $tempdir
fi
model_version=`cbp get_config $scenario script MODEL_VERSION_CODE`
BASELINE_SCENARIO_HYDRO=`cbp get_config $scenario script BASELINE_SCENARIO_HYDRO`
DRUPAL_ROOT=`cbp get_config $scenario script DRUPAL_ROOT`
OM_DATA_DIR=`cbp get_config $scenario script OM_DATA_DIR`
scenario_name="runid_$scenario"
baseline_scenario_name="runid_$BASELINE_SCENARIO_HYDRO"
#echo "getting RIVER_FTYPE='cbp get_config $scenario script RIVER_FTYPE'"
RIVER_FTYPE=`cbp get_config $scenario script RIVER_FTYPE`
#echo "RIVER_FTYPE = $RIVER_FTYPE "
echo "pid=Rscript $META_MODEL_ROOT/scripts/rest/get_river_model.R $segment $scenario $model_version $RIVER_FTYPE"
pid=`Rscript $META_MODEL_ROOT/scripts/rest/get_river_model.R $segment $scenario $model_version $RIVER_FTYPE`
echo "Elid: Rscript $META_MODEL_ROOT/scripts/rest/get_property.R dh_properties $pid om_element_connection propvalue"
elid=`Rscript $META_MODEL_ROOT/scripts/rest/get_property.R dh_properties $pid om_element_connection propvalue`
# Simulation info 
START_DATE=`cbp get_config $scenario script START_DATE`
END_DATE=`cbp get_config $scenario script END_DATE`
START_YEAR=`date -d "$START_DATE" +%Y`
SHAKE_TREE_MODE=`cbp get_config $scenario script SHAKE_TREE_MODE`
CACHE_DATE=`cbp get_config $scenario script CACHE_DATE`
RERUN_MODE=`cbp get_config $scenario script RERUN_MODE`
DOMAIN_ID=`cbp get_config $scenario script DOMAIN_ID`
QA_MODE=`cbp get_config $scenario script QA_MODE`
RUN_MODE=`cbp get_config $scenario script RUN_MODE`
RUN_METHOD=`cbp get_config $scenario script RUN_METHOD`
FLOW_MODE=`cbp get_config $scenario script FLOW_MODE`
DEBUG_MODE=`cbp get_config $scenario script DEBUG_MODE`
DT=`cbp get_config $scenario script DT`
RUN_TYPE=`cbp get_config $scenario script RUN_TYPE`

cd /var/www/html/om/ 
outinfo=`php /var/www/html/om/fn_getRunFile.php $elid $scenario`
IFS="," read elementid output_file starttime endtime run_verified remote_url host <<< "$outinfo"

cd $tempdir
export pid elid START_DATE START_YEAR model_version baseline_scenario RIVER_FTYPE DRUPAL_ROOT END_DATE
export SHAKE_TREE_MODE START_DATE END_DATE CACHE_DATE RERUN_MODE DOMAIN_ID 
export QA_MODE RUN_MODE RUN_METHOD FLOW_MODE DEBUG_MODE DT RUN_TYPE
