#!/bin/bash
if [ -z "$scenario" ]; then 
   # try to get from cmd args
   scenario=$1
   coverage=$2
   tempdir=$3
fi
export scenario coverage tempdir
if [ -z "$scenario" ]; then 
  echo "Error: missing Arguments."
  echo "Script must be called as: 'script_name scenario coverage(i.e.land segment) [temp dir]'"
  echo "Ex: $0 PRISM usgs_ws_02031000"
  exit
fi
# create temp dir
if [ ! -d "$tempdir" ]; then
  mkdir $tempdir
fi

# change to model dir for model config specific info
echo "$Changing to MODEL_ROOT $MODEL_ROOT"
cd $CBP_ROOT
# loads the base database specific config to get the db_host
db_config=`find_config db.config`
if [ "$db_config" = "" ]; then
  db_config="$META_MODEL_ROOT/models/raster_met/db.config"
fi
. $db_config
export db_host


# the selected analysis model is set as a variable in the config file for the model scenario
GEO_MET_MODEL=`cbp get_config $scenario met GEO_MET_MODEL`
MODEL_VERSION_CODE=`cbp get_config $scenario met MODEL_VERSION_CODE`
if [ "$MODEL_VERSION_CODE" == "" ]; then
  echo "Error: You must specify a MODEL_VERSION_CODE (i.e. 'met-1.0') in config/control/${scenario}.met" > problem
  echo "Error: You must specify a MODEL_VERSION_CODE (i.e. 'met-1.0') in config/control/${scenario}.met"
  exit
fi
MET_DATA_SOURCE=`cbp get_config $scenario met MET_DATA_SOURCE` # which set of raster data to use for exports
MET_EXPORT_DIR=`cbp get_config $scenario met MET_EXPORT_DIR` # where to store this routines raw CSV files
WDM_EXPORT_DIR=`cbp get_config $scenario met WDM_EXPORT_DIR` # where to store this routines wdm formatted files
RNMAX_DATA_PATH=`cbp get_config $scenario met RNMAX_DATA_PATH` # where is the full TS list of radiation?
RNMAX_DATA_SOURCE=`cbp get_config $scenario met RNMAX_DATA_SOURCE` # where is the full TS list of radiation?
BASELINE_MET_SCENARIO=`cbp get_config $scenario met BASELINE_MET_SCENARIO`
MET_PROCESS_METHOD=`cbp get_config $scenario met MET_PROCESS_METHOD`
# Load simulation basics (need start date and translated datasource for raster.config)
START_DATE=`cbp get_config $scenario met START_DATE`
# start offset gives a MOS to get the first date/hour
START_OFFSET=`cbp get_config $scenario met START_OFFSET`
END_DATE=`cbp get_config $scenario met END_DATE`
MODEL_TZ=`cbp get_config $scenario met MODEL_TZ`
# apply offsets and calculate timestamps centrally
tstime=`TZ="$TZ" date -d "$START_DATE" +'%s'`
tstime=$((tstime - START_OFFSET))
tsendtime=`TZ="$TZ" date -d "$END_DATE" +'%s'`
start_year=`date -d "$START_DATE" +%Y`
end_year=`TZ="$MODEL_TZ" date -d "$END_DATE" +%Y`
varkey=`cbp get_config $scenario met varkey`
COVERAGE_BUNDLE=`cbp get_config $scenario met COVERAGE_BUNDLE`
COVERAGE_FTYPE=`cbp get_config $scenario met COVERAGE_FTYPE`
echo "wdm.config found COVERAGE_FTYPE = $COVERAGE_FTYPE and COVERAGE_BUNDLE = $COVERAGE_BUNDLE"
RESAMPLE_VARKEY=`cbp get_config $scenario met RESAMPLE_VARKEY`
DISAGGREGATE_VARKEY=`cbp get_config $scenario met DISAGGREGATE_VARKEY`
DAILY_VARKEY=`cbp get_config $scenario met DAILY_VARKEY`
# SET UP THE directory in the model tree for this data to reside, ready for import
METPRAD_SCEN=`cbp get_config $scenario met METPRAD_SCEN`
# Note: cbp model can use separate scenarios for MET and PRAD, but those are simply
#       different sources or processing methods.  Since this is by defintion pocessing
#       a single source, we organize them under one name.  Then later, a user can
#       opt to leverage different sources for MET and PRAD in model config files
#       Note: since out methods currently only alter PRECIP, the MET scen has little effect
#             but that could later change as we may opt to also process MET data (temp, rad, ...)
oDir="$CBP_ROOT/input/unformatted/$MET_DATA_SOURCE/$scenario/$METPRAD_SCEN"
if [ "$METPRAD_SCEN" == "" ]; then
  echo "Error: You must have METPRAD_SCEN variable defined in config/control/met/${scenario}.con"
  echo "Error: You must have METPRAD_SCEN variable defined in config/control/met/${scenario}.con" >> problem
  exit
fi
MET_SCRIPT_PATH="/opt/model/model_meteorology"

#DB Files:
RASTER_SQL_FILE="${tempdir}/${coverage}-${MET_DATA_SOURCE}-all.csv.sql"
SAVE_PRECIP_SQL="$MET_EXPORT_DIR/$scenario/sql/${coverage}.sql"

# Now, construct other variables given scenario config and arguments
# the COVERAGE_PRECIP_FILE gets downloaded from raster SQL and goes into the met data 
COVERAGE_PRECIP_FILE="$MET_EXPORT_DIR/$scenario/precip/${coverage}_precip.csv"
COVERAGE_TEMP_FILE="$MET_EXPORT_DIR/$scenario/temp/${coverage}_temp.csv"
COVERAGE_ET_FILE="$MET_EXPORT_DIR/$scenario/et/${coverage}_et.csv"
# the COVERAGE_WDM_CSV is the wdm formatted version of COVERAGE_PRECIP_FILE
# and it goes directly into the models own internal wdm preprocessing space, because the CBP
# routines expect that directory tree, and we cannot override that (for now)
#echo "Changing to working dir: $tempdir"
cd $tempdir
# create a record of the environment variables, and also insure the data path
printenv > ENV.txt
install -D ENV.txt "$MET_EXPORT_DIR/${scenario}/ENV.txt" 
COVERAGE_WDM_DIR="$MET_EXPORT_DIR/${scenario}/lseg_csv"
if [ ! -e $COVERAGE_WDM_DIR ]; then
  mkdir $COVERAGE_WDM_DIR
fi
# insure that the new-fangled lseg_csv directory is linked to the old structure just in case it is needed
# (tho it should not be )
NLDAS_ROOT=`cbp get_config $scenario met NLDAS_ROOT`
if [ ! -e $NLDAS_ROOT/out/lseg_csv/${scenario} ]; then
  echo "Linking: ln -s $COVERAGE_WDM_DIR $NLDAS_ROOT/out/lseg_csv/${scenario}"
  ln -s $COVERAGE_WDM_DIR $NLDAS_ROOT/out/lseg_csv/${scenario}
fi


export RASTER_SQL_FILE RASTER_SUM_FILE
export MET_SCRIPT_PATH MET_DATA_SOURCE MET_EXPORT_DIR GEO_MET_MODEL 
export COVERAGE_PRECIP_FILE RESAMPLE_VARKEY DISAGGREGATE_VARKEY DAILY_VARKEY varkey
export COVERAGE_WDM_CSV START_DATE END_DATE RNMAX_DATA_PATH
export oDir BASELINE_MET_SCENARIO MODEL_TZ START_YEAR END_YEAR
export tstime tsendtime METPRAD_SCEN SAVE_PRECIP_SQL
export MET_PROCESS_METHOD
