#!/bin/bash
if [ -z "$scenario" ]; then 
   # try to get from cmd args
   scenario=$1
   coverage=$2
   tempdir=$3
fi
export scenario coverage tempdir
if [ -z "$scenario" ]; then 
  echo "Error: missing Arguments."
  echo "Script must be called as: 'script_name scenario coverage_code [temp dir]'"
  echo "Ex: $0 PRISM usgs_ws_02031000"
  exit
fi
# create temp dir
if [ ! -d "$tempdir" ]; then
  mkdir $tempdir
fi
echo "Changing to working dir: $tempdir"
cd $tempdir
# loads the base database specific config to get the db_host
db_config=`find_config db.config`
if [ "$db_config" = "" ]; then
  db_config="$META_MODEL_ROOT/models/raster_met/db.config"
fi
. $db_config
export db_host


# the selected analysis model is set as a variable in the config file for the model scenario
GEO_MET_MODEL=`cbp get_config $scenario met GEO_MET_MODEL`
MET_DATA_SOURCE=`cbp get_config $scenario met MET_DATA_SOURCE`
MET_EXPORT_DIR=`cbp get_config $scenario met MET_EXPORT_DIR`
WDM_EXPORT_DIR=`cbp get_config $scenario met WDM_EXPORT_DIR`
START_DATE=`cbp get_config $scenario met START_DATE`
END_DATE=`cbp get_config $scenario met END_DATE`
varkey=`cbp get_config $scenario met varkey`
RESAMPLE_VARKEY=`cbp get_config $scenario met RESAMPLE_VARKEY`
DISAGGREGATE_VARKEY=`cbp get_config $scenario met DISAGGREGATE_VARKEY`


MET_SCRIPT_PATH="/opt/model/model_meteorology"

#DB Files:
RASTER_SQL_FILE="${tempdir}/${coverage}-${MET_DATA_SOURCE}-all.csv.sql"

# Now, construct other variables given scenario config and arguments
COVERAGE_PRECIP_FILE="$MET_EXPORT_DIR/$scenario/precip/${coverage}-${MET_DATA_SOURCE}-all.csv"
COVERAGE_WDM_CSV="$WDM_EXPORT_DIR/${scenario}/${coverage}.PRC"

# Load simulation basics (need start date and translated datasource for raster.config)
START_DATE=`cbp get_config $scenario met START_DATE`
END_DATE=`cbp get_config $scenario met END_DATE`

export RASTER_SQL_FILE RASTER_SUM_FILE
export MET_SCRIPT_PATH MET_DATA_SOURCE MET_EXPORT_DIR GEO_MET_MODEL 
export COVERAGE_PRECIP_FILE RESAMPLE_VARKEY DISAGGREGATE_VARKEY varkey
export COVERAGE_WDM_CSV START_DATE END_DATE
