#!/bin/bash
if [ -z "$scenario" ]; then 
   # try to get from cmd args
   scenario=$1
   coverage=$2
   tempdir=$3
fi
export scenario coverage tempdir
if [ -z "$scenario" ]; then 
  echo "Error: missing Arguments."
  echo "Script must be called as: 'script_name scenario coverage_code [temp dir]'"
  echo "Ex: $0 PRISM usgs_ws_02031000"
  exit
fi
# create temp dir
if [ ! -d "$tempdir" ]; then
  mkdir $tempdir
fi
echo "Changing to working dir: $tempdir"
cd $tempdir

# Load simulation basics (need start date for raster.config)
START_DATE=`cbp get_config $scenario met START_DATE`
ddate=$START_DATE
# loads the base raster specific config
raster_config=`find_config raster.config`
if [ "$raster_config" = "" ]; then
  raster_config="$META_MODEL_ROOT/models/raster_met/raster.config"
fi
. $raster_config
echo "VARKEY from raster.config $varkey"
export db_host varkey
# the selected analysis model is set as a variable in the config file for the model scenario
GEO_MET_MODEL=`cbp get_config $scenario met GEO_MET_MODEL`
MET_DATA_SOURCE=`cbp get_config $scenario met MET_DATA_SOURCE`
MET_EXPORT_DIR=`cbp get_config $scenario met MET_EXPORT_DIR`

# Now, construct other variables given scenario config and arguments
COVERAGE_PRECIP_FILE="$MET_EXPORT_DIR/$scenario/precip/${coverage}-${MET_DATA_SOURCE}-all.csv"
WEEKLY_PRECIP_FILE="$MET_EXPORT_DIR/$scenario/precip/${coverage}-${MET_DATA_SOURCE}-weekly.csv"
DAILY_PRECIP_FILE="$MET_EXPORT_DIR/$scenario/precip/${coverage}-${MET_DATA_SOURCE}-daily.csv"
USGS_GAGE=`echo $coverage | sed 's/[^[:digit:]]\+//g'`
COVERAGE_FLOW_FILE="$MET_EXPORT_DIR/$scenario/flow/${coverage}-flow.csv"
RATING_FILE="$MET_EXPORT_DIR/${scenario}/out/${coverage}-${MET_DATA_SOURCE}-${GEO_MET_MODEL}-ratings.csv"
RATING_TS_FILE="$MET_EXPORT_DIR/${scenario}/out/${coverage}-${MET_DATA_SOURCE}-${GEO_MET_MODEL}-rating-ts.csv"
MODEL_JSON="$MET_EXPORT_DIR/$scenario/stats/${coverage}-${MET_DATA_SOURCE}-${GEO_MET_MODEL}-model.json"
MODEL_STATS="$MET_EXPORT_DIR/$scenario/stats/${coverage}-${MET_DATA_SOURCE}-${GEO_MET_MODEL}-stats.json"

# Storm separation outputs:
STORM_EVENT_FLOW_FILE="$MET_EXPORT_DIR/$scenario/flow/${coverage}-stormevent-flow.csv"
STORM_EVENT_STATS_FILE="$MET_EXPORT_DIR/$scenario/flow/${coverage}-stormevent-stats.csv"
STORM_EVENT_PLOT_DIR="$MET_EXPORT_DIR/$scenario/flow/${coverage}/stormPlot/"
STORM_EVENT_PRECIP_PLOT_DIR="$MET_EXPORT_DIR/$scenario/flow/${coverage}/stormPlotPrecip/"

#Set additional variables for Storm Separation Routine:
SEARCH_ALL_STORM="TRUE"
BASELINE_FLOW_METHOD="Month"
STORM_INCLUDE_DURATION=1
STORMSEP_REGRESSION_METHOD="LINEAR"
STORMSEP_PLOT="FALSE"

export MET_DATA_SOURCE MET_EXPORT_DIR GEO_MET_MODEL COVERAGE_PRECIP_FILE COVERAGE_FLOW_FILE WEEKLY_PRECIP_FILE 
export USGS_GAGE OBS_FLOW_FILE DAILY_PRECIP_FILE ddate MODEL_JSON MODEL_STATS 
export RATING_TS_FILE RATING_FILE
export STORM_EVENT_FLOW_FILE STORM_EVENT_STATS_FILE STORM_EVENT_PLOT_DIR STORM_EVENT_PRECIP_PLOT_DIR
export SEARCH_ALL_STORM BASELINE_FLOW_METHOD STORM_INCLUDE_DURATION STORMSEP_REGRESSION_METHOD STORMSEP_PLOT