#!/bin/bash
if [ -z "$scenario" ]; then 
   # try to get from cmd args
   scenario=$1
   coverage=$2
fi
if [ -z "$scenario" ]; then 
  echo "Error: missing Arguments."
  echo "Script must be called as: 'script_name [scenario] [coverage code]'"
  exit
fi
# loads the base raster specific config
raster_config=`find_config raster.config`
if [ "$raster_config" = "" ]; then
  raster_config="$META_MODEL_ROOT/models/raster_met/raster.config"
fi
. $raster_config

# the selected analysis model is set as a variable in the config file for the model scenario
GEO_MET_MODEL=`cbp get_config $scenario met GEO_MET_MODEL`
MET_DATA_SOURCE=`cbp get_config $scenario met MET_DATA_SOURCE`
MET_EXPORT_DIR=`cbp get_config $scenario met MET_EXPORT_DIR`

# Now, construct other variables given scenario config and arguments
COVERAGE_PRECIP_FILE="$MET_EXPORT_DIR/$scenario/precip/${coverage}-${MET_DATA_SOURCE}-all.csv"
WEEKLY_PRECIP_FILE="$MET_EXPORT_DIR/$scenario/precip/${coverage}-${MET_DATA_SOURCE}-weekly.csv"
DAILY_PRECIP_FILE="$MET_EXPORT_DIR/$scenario/precip/${coverage}-${MET_DATA_SOURCE}-daily.csv"
USGS_GAGE=`echo $coverage | sed 's/[^[:digit:]]\+//g'`
COVERAGE_FLOW_FILE="$MET_EXPORT_DIR/$scenario/flow/${coverage}-flow.csv"
RATING_FILE="$MET_EXPORT_DIR/${scenario}/out/${coverage}-${MET_DATA_SOURCE}-${GEO_MET_MODEL}-ratings.csv"
export MET_DATA_SOURCE MET_EXPORT_DIR GEO_MET_MODEL COVERAGE_PRECIP_FILE COVERAGE_FLOW_FILE WEEKLY_PRECIP_FILE USGS_GAGE OBS_FLOW_FILE RATING_FILE DAILY_PRECIP_FILE
