#!/bin/bash

## @package met
#  met.config: parse cmd line arguments and queries .con files for settings associated  */
#  with the scenario.


## @var DEBUG
## @brief Enables / disables the debug mode.
## @details The debug mode adds extra information for troubleshooting purposes.
## Value: yes or no (y / n).

if [ -z "$scenario" ]; then 
   # try to get from cmd args
   ## /*!< scenario: 
   # name of scenario and config file [scenario].con 
   scenario=$1 
   ddate=$2 # /*!< ddate: date of data to handle. */
   tempdir=$3 # /*!< tempdir: directory to store working files, will auto generate. */
fi
export scenario ddate tempdir

if [ -z "$scenario" ]; then 
  echo "Error: missing Arguments."
  echo "Script must be called as: 'script_name scenario date [temp dir]'"
  echo "Ex: $0 PRISM 2020-01-18"
  exit
fi

# Need date. Met runs on a single day basis and user must supply date.
if [ -z ${ddate+x} ]; then 
  echo "Error: missing Arguments."
  echo "Script must be called as: 'script_name scenario date [temp dir]'"
  exit
fi

# date info
yr=`date -d "$ddate" +%Y`
mo=`date -d "$ddate" +%m`
da=`date -d "$ddate" +%d`
jday=`date -d "$ddate" +%j`
END_DATETIME="${ddate} ${tz_hr}:00:00 UTC"

# Handle gdal versioning tweaks
# gdal has undergone a change in 2025 that intro'd a cmd line utility "gdal" that replaced
# the features of gdal_edit.py, and gdal_Edit.py went away
# So, we check here for the gdal executable and modify our command accordingly
gdalsh=`which gdal`
if [ "$gdalsh" == "" ]; then
  # no modern gdal interface, use gdal_
  gdal_cmd="gdal_edit.py"
  gdal_meta_switch="-mo"
  gdal_calc="gdal_calc.py"
  gdal_ifile_switch="-A "
  gdal_ifile_prefix=""
  gdal_ofile_switch="--output="
else
  # use modern gdal interface, use gdal
  gdal_cmd="gdal raster edit"
  gdal_meta_switch="--metadata"
  gdal_calc="gdal raster calc"
  gdal_ifile_switch="-i "
  gdal_ifile_prefix="A="
  gdal_ofile_switch="-o "
fi

if [ ! -d "$tempdir" ]; then
  mkdir $tempdir
fi
echo "Changing to working dir: $tempdir"
cd $tempdir

#Get all variables from the scenario config file
datasource=`cbp get_config $scenario met datasource`
BASE_URI=`cbp get_config $scenario met BASE_URI`
varkey=`cbp get_config $scenario met varkey`
MET_EXPORT_DIR=`cbp get_config $scenario met MET_EXPORT_DIR`
export NLDAS_ROOT
export BASE_URI
