#!/bin/bash
if [ -z "$scenario" ]; then 
   # try to get from cmd args
   scenario=$1
   ddate=$2
   coverage=$3
   tempdir=$4
fi
export scenario ddate coverage tempdir

if [ -z "$scenario" ]; then 
  echo "Error: missing Arguments."
  echo "Script must be called as: 'script_name scenario date coverage [temp dir]'"
  echo "Ex: amalgamate 2020-01-18 usgs_ws_01668000 auto"
  exit
fi

# Need date. Met runs on a single day basis and user must supply date.
if [ -z ${ddate+x} ]; then 
  echo "Error: missing Arguments."
  echo "Script must be called as: 'script_name scenario date [temp dir]'"
  exit
fi

# create temp dir
if [ ! -d "$tempdir" ]; then
  mkdir $tempdir
fi
echo "Changing to working dir: $tempdir"
cd $tempdir

# loads the base database specific config to get the db_host
db_config=`find_config db.config`
if [ "$db_config" = "" ]; then
  db_config="$META_MODEL_ROOT/models/raster_met/db.config"
fi
. $db_config
export db_host

# Load simulation basics (need start date and translated datasource for raster.config)
START_DATE=`cbp get_config $scenario met START_DATE`
END_DATE=`cbp get_config $scenario met START_DATE`
#Get details on the date
yr=`date -d "$ddate" +%Y`
mo=`date -d "$ddate" +%m`
da=`date -d "$ddate" +%d`
jday=`date -d "$ddate" +%j`
ymd="$yr$mo$da"

# the selected analysis model is set as a variable i
AMALGAMATE_RATINGS_PATHS=`cbp get_config $scenario met AMALGAMATE_RATINGS_PATHS`
EXISTING_RATINGS_COLUMNS=`cbp get_config $scenario met EXISTING_RATINGS_COLUMNS`
RATINGS_VARKEYS=`cbp get_config $scenario met RATINGS_VARKEYS`
EXISTING_START_DATE_COLUMNS=`cbp get_config $scenario met EXISTING_START_DATE_COLUMNS`
EXISTING_END_DATE_COLUMNS=`cbp get_config $scenario met EXISTING_end_DATE_COLUMNS`


MET_SCRIPT_PATH="/opt/model/model_meteorology"

#DB Files:
#RASTER_SQL_FILE="${tempdir}/${coverage}-${MET_DATA_SOURCE}-all.csv.sql"

#Output file directories
#Issue with the fact that amalgamate is date specific and coverage agnositic, but coverage ratings are date agnostic and coverage specific
COVERAGE_RATING_FILE="$MET_EXPORT_DIR/${scenario}/ratings/${coverage}-combinedRatings.csv"




export RASTER_SQL_FILE RASTER_SUM_FILE
export START_DATE AMALGAMATE_RATINGS_PATHS EXISTING_RATINGS_COLUMNS RATINGS_VARKEYS EXISTING_START_DATE_COLUMNS EXISTING_end_DATE_COLUMNS
export RATING_TS_FILE RATING_FILE
export STORM_EVENT_FLOW_FILE STORM_EVENT_STATS_FILE STORM_EVENT_PLOT_DIR STORM_EVENT_PRECIP_PLOT_DIR
export SEARCH_ALL_STORM BASELINE_FLOW_METHOD STORM_INCLUDE_DURATION STORMSEP_REGRESSION_METHOD STORMSEP_PLOT