#!/bin/bash
if [ -z "$scenario" ]; then 
   # try to get from cmd args
   scenario=$1
   ddate=$2
   tempdir=$3
fi
export scenario ddate coverage tempdir

if [ -z "$scenario" ]; then 
  echo "Error: missing Arguments."
  echo "Script must be called as: 'script_name scenario date [temp dir]'"
  echo "Ex: amalgamate 2020-01-18 usgs_ws_01668000 auto"
  exit
fi

# Need date. Met runs on a single day basis and user must supply date.
if [ -z ${ddate+x} ]; then 
  echo "Error: missing Arguments."
  echo "Script must be called as: 'script_name scenario date [temp dir]'"
  exit
fi

# create temp dir
if [ ! -d "$tempdir" ]; then
  mkdir $tempdir
fi
echo "Changing to working dir: $tempdir"
cd $tempdir

# loads the base database specific config to get the db_host
db_config=`find_config db.config`
if [ "$db_config" = "" ]; then
  db_config="$META_MODEL_ROOT/models/raster_met/db.config"
fi
. $db_config
export db_host

# Load simulation basics (need start date and translated datasource for raster.config)
START_DATE=`cbp get_config $scenario met START_DATE`
END_DATE=`cbp get_config $scenario met START_DATE`
#Get details on the date
yr=`date -d "$ddate" +%Y`
mo=`date -d "$ddate" +%m`
da=`date -d "$ddate" +%d`
jday=`date -d "$ddate" +%j`
ymd="$yr$mo$da"

# the selected analysis model is set as a variable i
MET_SCRIPT_PATH="/opt/model/model_meteorology"

#Set some variables to describe data structure used to store ratings:
GEO_MET_MODEL=`cbp get_config $scenario met GEO_MET_MODEL`
EXTENT_BUNDLE=`cbp get_config $scenario met extent_bundle`
EXTENT_FTYPE=`cbp get_config $scenario met extent_ftype`
EXTENT_HYDROCODE=`cbp get_config $scenario met extent_hydrocode`
ENTITY_TYPE=`cbp get_config $scenario met entity_type`
MET_MODEL_VERSION="met-1.0"
SCENARIO_PROP_NAME="${GEO_MET_MODEL}"
RATINGS_VARKEY=`cbp get_config $scenario met RATINGS_VARKEY`
RATINGS_SQL_FILE="${tempdir}/${EXTENT_HYDROCODE}-ratings.sql"
SCENARIOS_TO_RANK=`cbp get_config $scenario met SCENARIOS_TO_RANK`
SCENARIOS_TO_RANK=`cbp get_config $RANKING_SCENARIO met SCENARIOS_TO_RANK`
SCENARIOS_TO_RANK=`echo "${SCENARIOS_TO_RANK}" | sed -e "s/^( /'/;s/ )$/'/;s/ /','/g"`

export START_DATE END_DATE yr mo da jday ymd
export MET_SCRIPT PATH GEO_MET_MODEL
export EXTENT_BUNDLE EXTENT_FTYPE EXTENT_HYDROCODE ENTITY_TYPE MET_MODEL_VERSION
export SCENARIO_PROP_NAME RATINGS_VARKEY RATINGS_SQL_FILE
