#!/bin/bash
if [ -z "$scenario" ]; then 
   # try to get from cmd args
   scenario=$1
   coverage=$2
   tempdir=$3
fi
export scenario coverage tempdir
if [ -z "$scenario" ]; then 
  echo "Error: missing Arguments."
  echo "Script must be called as: 'script_name scenario coverage(i.e.land segment) [temp dir]'"
  echo "Ex: $0 nldas2_cc10 N51053"
  exit
fi
# create temp dir
if [ ! -d "$tempdir" ]; then
  mkdir $tempdir
fi
# change to model dir for model config specific info
echo "$Changing to MODEL_ROOT $MODEL_ROOT"
cd $CBP_ROOT
# loads the base database specific config to get the db_host
db_config=`find_config db.config`
if [ "$db_config" = "" ]; then
  db_config="$META_MODEL_ROOT/models/raster_met/db.config"
fi
. $db_config
export db_host db_name

# the selected analysis model is set as a variable in the config file for the model scenario
MET_EXPORT_DIR=`cbp get_config $scenario met MET_EXPORT_DIR`
BASELINE_MET_SCENARIO=`cbp get_config $scenario met BASELINE_MET_SCENARIO`
wdm_coverage_ftype=`cbp get_config $scenario met wdm_coverage_ftype`
neighbor_coverage_ftype=`cbp get_config $scenario met neighbor_coverage_ftype`
wdm_coverage_bundle=`cbp get_config $scenario met wdm_coverage_bundle`
overwrite_cc_factors=`cbp get_config $scenario met overwrite_cc_factors`
if [ "$overwrite_cc_factors" == "" ]; then
  overwrite_cc_factors=1
fi
FACTOR_METHOD=`cbp get_config $scenario met FACTOR_METHOD`
if [ "$FACTOR_METHOD" == "" ]; then
  echo "You must configure FACTOR_METHOD to use the alt(er) workflow. Exiting." 
  echo "You must configure FACTOR_METHOD to use the alt(er) workflow. Exiting." >> $tempdir/problem
  exit
fi

BASELINE_ET_FILE="$MET_EXPORT_DIR/$BASELINE_MET_SCENARIO/et/${coverage}_et.csv"
BASEMODEL_ET_FILE="$MET_EXPORT_DIR/$BASELINE_MET_SCENARIO/lseg_csv/${coverage}.PET"
ET_FACTOR_FILE="$MET_EXPORT_DIR/$scenario/factors/et.csv"
ET_MOD_FILE="$MET_EXPORT_DIR/$scenario/et/${coverage}_et.csv"
# precip 
BASELINE_PRECIP_FILE="$MET_EXPORT_DIR/$BASELINE_MET_SCENARIO/precip/${coverage}_precip.csv"
BASEMODEL_PRECIP_FILE="$MET_EXPORT_DIR/$BASELINE_MET_SCENARIO/lseg_csv/${coverage}.PRC"
PRECIP_FACTOR_FILE="$MET_EXPORT_DIR/$scenario/factors/precip.csv"
PRECIP_MOD_FILE="$MET_EXPORT_DIR/$scenario/precip/${coverage}_precip.csv"
# Temp
TEMP_FACTOR_FILE="$MET_EXPORT_DIR/$scenario/factors/temp.csv"
BASELINE_TEMP_FILE="$MET_EXPORT_DIR/$BASELINE_MET_SCENARIO/temp/${coverage}_temp.csv"
BASEMODEL_TEMP_FILE="$MET_EXPORT_DIR/$BASELINE_MET_SCENARIO/lseg_csv/${coverage}.TMP"
TEMP_MOD_FILE="$MET_EXPORT_DIR/$scenario/temp/${coverage}_temp.csv"

echo "Defining $scenario TEMP_MOD_FILE $TEMP_MOD_FILE"

#echo "Changing to working dir: $tempdir"
cd $tempdir

export BASELINE_ET_FILE ET_FACTOR_FILE ET_MOD_FILE
export PRECIP_MOD_FILE PRECIP_FACTOR_FILE BASELINE_PRECIP_FILE 
export TEMP_FACTOR_FILE BASELINE_TEMP_FILE TEMP_MOD_FILE
export overwrite_cc_factors 

