#!/bin/bash
if [ -z "$scenario" ]; then 
   # try to get from cmd args
   scenario=$1
   coverage=$2
   tempdir=$3
fi
export scenario coverage tempdir
if [ -z "$scenario" ]; then 
  echo "Error: missing Arguments."
  echo "Script must be called as: 'script_name scenario coverage(i.e.land segment) [temp dir]'"
  echo "Ex: $0 PRISM usgs_ws_02031000"
  exit
fi
# create temp dir
if [ ! -d "$tempdir" ]; then
  mkdir $tempdir
fi
# change to model dir for model config specific info
echo "$Changing to MODEL_ROOT $MODEL_ROOT"
cd $CBP_ROOT
# loads the base database specific config to get the db_host
db_config=`find_config db.config`
if [ "$db_config" = "" ]; then
  db_config="$META_MODEL_ROOT/models/raster_met/db.config"
fi
. $db_config
export db_host

# the selected analysis model is set as a variable in the config file for the model scenario
MET_EXPORT_DIR=`cbp get_config $scenario met MET_EXPORT_DIR`
BASELINE_MET_SCENARIO=`cbp get_config $scenario met BASELINE_MET_SCENARIO`

ET_FACTOR_FILE="$MET_EXPORT_DIR/$scenario/factors/et.csv"
PRECIP_FACTOR_FILE="$MET_EXPORT_DIR/$scenario/factors/et.csv"
BASELINE_PRECIP_FILE="$MET_EXPORT_DIR/$BASELINE_MET_SCENARIO/precip/${coverage}-${MET_DATA_SOURCE}-all.csv"
BASELINE_ET_FILE="$MET_EXPORT_DIR/$BASELINE_MET_SCENARIO/et/${coverage}-${MET_DATA_SOURCE}-all.csv"
#echo "Changing to working dir: $tempdir"
cd $tempdir

export ET_MOD_FILE BASELINE_ET_FILE ET_FACTOR_FILE 
export PRECIP_MOD_FILE PRECIP_FACTOR_FILE BASELINE_PRECIP_FILE

