#!/bin/bash
if [ -z "$scenario" ]; then 
   # try to get from cmd args
   year=$1
   gageid=$2
   tempdir=$3
fi
export scenario coverage tempdir
if [ -z "$year" ]; then 
  echo "Error: missing Arguments."
  echo "Script must be called as: 'script_name year gageid[=all] [temp dir]'"
  yr=`date +'%Y'`
  echo "Ex: $0 $yr 02031000"
  exit
fi
# create temp dir
if [ ! -d "$tempdir" ]; then
  mkdir $tempdir
fi

cd $tempdir
# TODO: set up relevant config info here
# MODEL_VERSION_CODE=`cbp get_config $scenario met MODEL_VERSION_CODE`
