#!/bin/bash
# expects that datasource is defined
if [ -z ${datasource+x} ]; then 
  echo "Variable 'datasource' must be defined when calling raster.config. Exiting."
  exit
fi

db_host="dbase2"
db_port="5432"
db_name="drupal.dh03"
tz=""
MET_SCRIPT_PATH="/opt/model/model_meterology/sh"

case $datasource in
  PRISM)
  declare -A config=(
   ["entity_type"]="dh_feature"
   ["ext"]="_CBP.gtiff"
   ["scratchdir"]="/tmp"
   ["datasource"]="PRISM"
   ["dataset"]="PRISM_precip_"
   ["varkey"]="prism_mod_daily"
   ["extent_hydrocode"]="cbp6_met_coverage"
   ["extent_ftype"]="cbp_met_grid"
   ["extent_bundle"]="landunit"
  )
  ;;

  nldas2)
  declare -A config=(
   ["entity_type"]="dh_feature"
   ["ext"]="_CBP.gtiff"
   ["scratchdir"]="/tmp"
   ["datasource"]="nldas2"
   ["dataset"]="nldas2_precip_"
   ["varkey"]="nldas2_obs_hourly"
   ["extent_hydrocode"]="cbp6_met_coverage"
   ["extent_ftype"]="cbp_met_grid"
   ["extent_bundle"]="landunit"
  )
  ;;
esac

