#!/bin/bash
# expects that datasource is defined
if [ -z ${ddate+x} ]; then 
  echo "Variable 'ddate' (download date) must be defined when calling raster.config. Exiting."
  exit
fi

db_host="dbase2"
db_port="5432"
db_name="drupal.alpha"
tz=""
MET_SCRIPT_PATH="/opt/model/model_meteorology/sh"
maskExtent='/backup/meteorology/cbp_extent.csv'
yr=`date -d "$ddate" +%Y`
mo=`date -d "$ddate" +%m`
da=`date -d "$ddate" +%d`
jday=`date -d "$ddate" +%j`
ymd="$yr$mo$da"

src_files=""
import_files=""

case $datasource in
  PRISM)
  # BEGIN PRISM config
  declare -A config=(
   ["entity_type"]="dh_feature"
   ["ext"]="_CBP.gtiff"
   ["dt"]=86400
   ["scratchdir"]="/tmp"
   ["basedir"]="/backup/meteorology"
   ["datasource"]="PRISM"
   ["dataset"]="PRISM_precip_"
   ["varkey"]="prism_mod_daily"
   ["extent_hydrocode"]="cbp6_met_coverage"
   ["extent_ftype"]="cbp_met_grid"
   ["extent_bundle"]="landunit"
  )
  src_dir="$base_dir/$yr/$jday"
  import_files=`ls $src_dir/*.gtiff | grep -v repro.gtiff`
  # END PRISM config
  ;;

  daymet)
  # BEGIN daymet config
  # dayment config array goes here.
  # this code block must set variables named:
  # - import_files: a space delimited list of file paths to the geotiff files to import for each day
  #                 daymet should have one file for each day as it's a daily dataset
  # - src_files: a space delimited list of file paths to send to the convert to tiff step
  #              this set of files is maybe superfluous, as the download *coudl* convert to tiff
  # 
  # END daymet config
  ;;

  nldas2)
  declare -A config=(
   ["entity_type"]="dh_feature"
   ["ext"]="_CBP.gtiff"
   ["dt"]=3600
   ["TZ"]="UTC"
   ["scratchdir"]="/tmp"
   ["basedir"]="/backup/meteorology"
   ["datasource"]="nldas2"
   ["dataset"]="nldas2_precip_"
   ["varkey"]="nldas2_obs_hourly"
   ["extent_hydrocode"]="cbp6_met_coverage"
   ["extent_ftype"]="cbp_met_grid"
   ["extent_bundle"]="landunit"
  )
  # files to import can be inferred
  base_dir=${config["basedir"]}
  final_ext=${config["ext"]}
  echo "Looking for raster files in $base_dir/$yr/$jday"
  if [ -d "$base_dir/$yr" ]; then
    if [ -d "$base_dir/$yr/$jday" ]; then
      src_dir="$base_dir/$yr/$jday"
      src_files=`ls $src_dir/*.grb`
      # this will have a list of geotiff if the files have been processed
      # but will omit intermediates.
      import_files=`ls $src_dir/*.gtiff | grep -v repro.gtiff `
    fi
  fi
  ;;
esac

